# Use strict peer dependencies
strict-peer-dependencies=false

# Hoist dependencies to root node_modules
shamefully-hoist=false

# Only allow pnpm
engine-strict=true

# Auto install peers
auto-install-peers=true

registry=https://registry.npmmirror.com/

